$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary: #007bff,
  secondary: #35c315,
  danger: #c83131,
  light: #f4f4f4,
  dark: #1f1f1f
);

$primary-color: map_get($colors, primary);
$background-color: map_get($colors, dark);
$toolbar-background: #282828;

@import "ionic.theme.dark";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
